*{
	padding						:	0px;
	margin						:	0px;
}
.container{
	width						:	960px;
	min-height					:	1200px;
	margin						:	0px auto;
	background-image			:	url('image/backguid.jpg');
	background-repeat			:	no-repeat;
	outline						:	1px dashed black;
}
header{
	width						: 	650px;
	min-height					:	50px;
	margin						:	0px auto;
	outline						:	1px dashed red;
}
header section.logo-h{
	width						:	80px;
	min-height					:	40px;
	margin						:	5px 10px;
	float						:	left;
	outline						:	1px dashed red;
}
header section.menu-h{
	width						:	380px;
	min-height					:	40px;
	margin						:	5px 10px;
	float						:	right;
	outline						:	1px dashed red;
}
section.slider{
	width						:	960px;
	min-height					:	290px;
	margin						:	0px auto;
	outline						:	1px dashed blue;
}
section.contain{
	width						:	700px;
	min-height					:	585px;
	margin						:	0px auto;
	outline						:	1px dashed blue;
}
footer{
	width						:	960px;
	min-height					:	270px;
	outline						:	1px dashed yellow;
}