	@-webkit-keyframes rotatex {
		0% { -webkit-transform: rotateX(0deg);}
		10%{-webkit-transform:rotateX(36deg);}
		20%{-webkit-transform:rotateX(72deg);}
		30%{-webkit-transform:rotateX(108deg);}
		40%{-webkit-transform:rotateX(144deg);}
		50%{-webkit-transform:rotateX(180deg);}
		60%{-webkit-transform:rotateX(216deg);}
		70%{-webkit-transform:rotateX(252deg);}
		80%{-webkit-transform:rotateX(288deg);}
		90%{-webkit-transform:rotateX(324deg);}
		100%{-webkit-transform:rotateX(360deg);}	
	}
	@-webkit-keyframes rotatey {
		0% { -webkit-transform: rotateY(0deg);}
		10%{-webkit-transform:rotateY(36deg);}
		20%{-webkit-transform:rotateY(72deg);}
		30%{-webkit-transform:rotateY(108deg);}
		40%{-webkit-transform:rotateY(144deg);}
		50%{-webkit-transform:rotateY(180deg);}
		60%{-webkit-transform:rotateY(216deg);}
		70%{-webkit-transform:rotateY(252deg);}
		80%{-webkit-transform:rotateY(288deg);}
		90%{-webkit-transform:rotateY(324deg);}
		100%{-webkit-transform:rotateY(360deg);}
	}
.graph{
	margin:auto;
	position: absolute;
	left:0px;
	right:0px;
	top:0px;
	bottom:0px;
	width:100px;
	height:100px;
	background-color: red;
	line-height: 100px;
	text-align: center;
	-webkit-animation: rotatex 5s infinite linear;
}

.graph1{
	margin:auto;
	position: absolute;
	left:0px;
	right:0px;
	top:0px;
	bottom:0px;
	width:100px;
	height:100px;
	line-height: 100px;
	text-align: center;
	-webkit-animation: rotatey 5s infinite linear;
}
.br{
	border-radius: 100px;
}