*{
	margin: 0px;
	padding: 0px;
}

body{
	background-color: rgb(22, 153, 74);
}

.container{
	width:200px;
	min-height:600px;
	margin:100px auto 0px;
}

.test{
	width:150px;
	height:150px;
	background-color: red;
	margin:0px 50px 50px 0px;
	text-align:center;
	line-height:150px;
	-webkit-transition:color 800ms;
}
.test:hover{
	color:#FFF;
}

.rotate{
	-webkit-transform:  rotate(50deg);
	background-color: darkmagenta;
}
.rotateX{
	-webkit-transform: perspective( 400px )rotateX(50deg);
	-webkit-perspective:400px;
	background-color: darkblue;
}
.rotateY{
	-webkit-transform: perspective( 400px ) rotateY(50deg);
	background-color: darkred;	    
}
.radius{
	-webkit-border-radius:25px;
}