*{
	padding:0px;
	margin:0px;
}

body{
	background-color:#225;
}

div.Gallery{
	width:600px;
	height: 400px;
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	top:0;
	margin:auto;
}

div.Gallery a.image{
	float:left;
}

div.Gallery a.image img{
	width:100px;
	height:100px;
	margin:5px;
	-webkit-box-shadow:3px 3px 4px #555;
	-webkit-border-radius: 20px 5px 10px;
	border-radius: 20px 5px 10px;
	border-style:solid;
	border-color:#FAFAFA;
	border-width:5px 5px 20px;
	-webkit-transition:-webkit-transform 1000ms;
}

div.Gallery a.image img:hover{
	-webkit-transform:scale(2);	
}