*{
	margin								: 	0px;
	padding								: 	0px;
}

.container{
	width								:	970px;
	background-image					: 	url('../../store/image/test-01.jpg');
	background-repeat					: 	no-repeat;
	background-position					:	center top;
	outline: 1px dashed gray;
}

.container > * {
	outline								:	1px dashed blue;
}

.container > * > * {
	outline								:	2px dotted red;
}

.container > * > * * {
	outline								:	2px dashed green;
}

header{
	margin								:	8px 0px;
}

header > *{
	margin								:	5px 0px;
}

.head-menu{
	min-height							: 	45px;
}
.slideshow{
	min-height							:	392px;
}