*{
	margin								: 	0px;
	padding								: 	0px;
}

body{
	background-image					: 	url('../../store/image/test-01.jpg');
	background-repeat					: 	no-repeat;
	background-position					:	center top;
}

body{
	outline								: 	1px dashed blue;
}

body > * {
	outline								:	1px dashed red;
}

body > * > * {
	outline								:	1px dotted green;
}

body > * > * *{
	outline								:	1px dashed black;
}

header > *{
	margin								:	10px 0px;
}

header li{
	list-style							:	none;
}

.head-menu{
	min-height							: 	45px;
}
.slideshow{
	min-height							:	392px;
}