.container{
	background-image								:	url('../../store/image/test-02.jpg');
	background-repeat								:	no-repeat;
	background-position								:	top center;
	outline											:	1px dashed gray;
}

.container *{
	outline											:	1px dashed red;
}


.container * > * {
	outline											:	1px dashed blue;
}	


.container * > * > *{
	outline											:	1px dashed green;
}


.container * > * > * *{
	outline											:	1px dashed red;
}

header{
	width											:	940px;
}

.contain{
	margin-top										:	3px;
	 
}

menu > li{
	padding-left									:	5px;
	color											:	gray;
}	