*{
	margin								: 	0px;
	padding								: 	0px;
}

.container{
	min-height							: 	1262px;
	background-image					: 	url('image/backsite.jpg');
	background-repeat					: 	no-repeat;
}

.outl{
	outline								: 	dashed 1px red;
}
header{
	min-height							: 	150px;
}
.logo{
	min-height							:	104px;
}
.head-menu{
	min-height							: 	45px;
}
